/* * {
    border: 1px solid red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */



img {
border-radius: 8px;
width: 153px;
height: 81px;
object-fit: contain;
}

.sign-in {
    height: 250px;
    width: 350px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid #d7d6d6;

}

#con-button {
   background-color: rgb(192, 189, 3);
   /* display: inline-block; */
   width: 305px;
}

.form-label {
   color: rgb(4, 4, 4);
   padding: 10px 0 10px;
}

.email-label {
    padding-bottom: 10px;
}

.password-line {
    display: inline-block;
}

#p-prompt {
    margin-left: 30px;
    padding-right: 100px;
}


.new-to-amazon {
    /* justify-content: center; */
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ui-main {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

#create-account {
    padding-top: 10px;
    padding-bottom: 25px;
}

h3 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #7d7d7d; 
    line-height: 0.0em;
    margin: 5px 0 5px; 
    padding-top: 10px;
    font-size: medium;
    color: #7d7d7d;
 } 
 
 h3 span { 
     background:#fff; 
     padding:0 10px; 
 } 
 #sign-up {
    background-color: rgb(217, 217, 217);
    display: inline-block;
    width:350px;
 }

footer {
    border-top: 1px solid gray;
    justify-content: center;
    text-align: center;
    padding-top:50px
}




.input-field {
    width: 298px;
}

.button-container {
    padding-top: 5px;
}

.footer-customer {
    display: inline-block;
    column-count: 3;
    column-gap:1px;
    margin-left:50px;
    font-size: 14px ;
}

#foot-help {
    margin-left: 30px;
}

.copyright {
    padding-top: 10px;
    font-size: 16px;
}
