* {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px
}   
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    height: 60px;

}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.nav-item {
    margin: 10px;
    width: 100%;
    height: 100%;
}

.nav-link {
    text-decoration: none;
    color:antiquewhite;
}
.nav-link:hover {
    color: orange;
}

body {
    margin: 0px;
    padding: 0px;
}

.main-landing-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin:  0;
    min-height: 300px;
    align-items: center;
    height: 600px;
    width: 100%;
    background-image: url("theater-image-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.head{
    font-size: 5em;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: 300px;
    /* margin-left: 400px;
    padding-top: 0px;
    width: 100%; */
}
/* 
.main-landing-title {
    height: 600px;
    width: 100%;
    background-image: url("theater-image-background.png");
    background-repeat: no-repeat;
} */

.flexbox-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.flexbox-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color: #000000;
    /* width: 600px; */
    /* border: 3px solid #cccccc; */
}


.flexbox-item-1 {
    border: 3px solid #000000;
    background-color: #cccccc;
    width: 600px;
}

.flexbox-item-2,
.flexbox-item-3,
.flexbox-item-4,
.flexbox-item-5 {
        /* min-height: 200px; */
        border-bottom: 3px solid #333;
        width: 600px;
        /* background-color: rgb(255, 255, 255); */
}

.show-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: center;
    align-content: center;
}

.actors-img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px; 
    margin-right: 50px;
}

.show-info {
    /* border: 3px solid #333; */
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    min-height:150px;
    width: 250px;
    align-items: center;
    margin-right: 50px;
}

.read-more-button {
    background-color: orange; 
    color: black; 
    border: 2px solid  white;
    height: 50px;
    width: 75px;
  }
  
  .read-more-button:hover {
    background-color: white;
    color: orange;
  }


footer {
    margin-bottom: 0px;
}

.bottom {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: top 30px;
    justify-content: space-evenly;
}

.map {
    width: 250px;
    padding: 2%;
    margin-right: 50px;
}

.mapimg {
    width: 250px;
}

.footinfo {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 10px;
    font: 0.6em;
}

.footshows {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 10px;
    font: 0.6em;
}


.social {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.foothead {
    font-size: 2em;
}

.tiny {
    text-decoration: none;
    color:antiquewhite;
}
.tiny:hover {
    color: orange;
}